<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Forgot Password Form</title>
</head>
<body>
<div class="text-center">
	<br/>
    <h2>Forgot Password</h2> 
	<br/> <br/>
</div>
         
<form id="forgot_password_form" action="/forgot_password" method="post" style="max-width: 420px; margin: 0 auto;">
<div class="border border-secondary rounded p-3">
    <div>
        <p>We will be sending a reset password link to your email.</p>
    </div>
    <div>
        <p>
            <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
        </p>
        
        <div class="error" id="backend-error"></div>
                 
        <p class="text-center">
            <input type="submit" value="Send" class="btn btn-primary" />
        </p>
        
        <div class="message" id="backend-message"></div>
    </div>
</div>
</form>

<script>
  const form = document.querySelector('#forgot_password_form');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();	

    // Clear any existing errors and messages
    clearErrors();
    clearMessages();
    
    // Submit the form
    try {
      const response = await fetch(form.action, {
        method: form.method,
        body: new FormData(form)
      });
      
      if (!response.ok) {
        const message = await response.text();
        showError(message,'backend');
        return;
      }
      else {
    	  const messageElement = document.querySelector("#backend-message");
            messageElement.textContent = await response.text();
            messageElement.classList.add('active');
      }
      	
      
    } catch (error) {
      showError(error.message);
    }
  });
  
  function clearErrors() {
    const errors = document.querySelectorAll('.error');
    errors.forEach((error) => {
      error.classList.remove('active');
      error.textContent = '';
    });
  }
	
  function clearMessages() {
	    const messages = document.querySelectorAll('.message');
	    messages.forEach((message) => {
	      message.classList.remove('active');
	      message.textContent = '';
	    });
  }
  
  function showError(message, field) {
    if (field) {
      const errorElement = document.querySelector(`#${field}-error`);
      if (errorElement) {
        errorElement.textContent = message;
        errorElement.classList.add('active');
        return;
      }
    }
    alert(message);
  }
</script>

</body>

<style>
  .error {
    display: none;
    color: red;
    font-size: 14px;
  }

  .error.active {
    display: block;
  }
  
  .message {
    display: none;
    color: blue;
    font-size: 14px;
  }
  
  .message.active {
    display: block;
  }
</style>

</html>