<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Registration</title>
</head>
<body>
<h2></h2>
<div class="container text-center">
    <h3>Your registration was successful!</h3>
    <p>Please check your email to verify your account.</p>     
</div>
<script type="text/javascript">
function doRedirect() {
	location.href = "/login";
}

document.write("Redirecting to the login page in progress… please wait a few moments…");
window.setTimeout("doRedirect()", 4000);
</script>
</body>
</html>