<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registrazione</title>
</head>
<body>

<h1>Registrazione</h1>
<form action="register" method="post">
<label for="nome">Nome :</label> <br/>
<input type="text" name="nome" required/> <br/>

<label for="cognome">Cognome :</label> <br/>
<input type="text" name="cognome" required/> <br/>

<label for="email">Email :</label> <br/>
<input type="email" name="email" required/> <br/>

<label for="password">Password :</label> <br/>
<input type="password" name="password" required/> <br/>

<label for="corso">Corso :</label> <br/>
<select name="corso" required>
	<option value=""></option>
		<option value="Associate">Associate</option>
		<option value="Bachelor">Bachelor</option>
		<option value="Graduate">Graduate</option>
		<option value="Doctorate">Doctorate</option>
</select>
<br/>
<button type="submit">Submit</button>
</form>
<br/>

</body>
</html>