<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Verify Fail</title>
</head>
<body>
<div class="container text-center">
    <br/> <br/>
    <h3>Spiacente, non siamo riusciti a verificare il tuo account.</h3>
    <h4>Potrebbe essere già verificato, oppure il codice di conferma è scaduto.</h4>
    <br/>
    <h4><a href="/login">Clicca qui per tornare al login</a></h4>
</div>
</body>
</html>