<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Verify Success</title>
</head>
<body>
<div class="container text-center">
	<br/> <br/>
    <h3>Congratulazioni, il tuo account è stato verificato.</h3>
    <br/>
    <h4><a href="/login">Clicca qui per il login</a></h4>
</div>
</body>
</html>